<div class="container mt-6">
  <div class="columns is-centered">
    <div class="box columns is-one-third">
      
      <div>
        <h1 class="title has-text-centered">Generate Password</h1>

      <div class="field">
        <label>Lenght </label>
        <input class="input" type="text" (input)="onChangeInput($any($event.target).value)" />


      </div>
      <div class="field">
        <div class="control">
          <label  class="checkbox">
            
            <input type="checkbox" (change)="OnChangeLetters()">
            Use Letters
            </label>
          </div>
      </div>

      <div class="field">
        <div class="control">
          <label  class="checkbox">
            
            <input type="checkbox" (change)="OnChangeSymbols()">
            Use Symbols
            </label>
          </div>
      </div>

      <div class="field">
        <div class="control">
          <label  class="checkbox">
            
            <input type="checkbox" (change)="OnChangeNumbers()">
            Use Numbers
            </label>
          </div>
      </div>
      <button class="button is-link is-fullwidth" [disabled]="length==0 || (!lettersCheck && !numbersCheck && !symbolsCheck) " (click)="OnButtonClick()">Generate!</button>
      <br/><div class="box" >
        <label>Your Password</label>
        <input class="input" type="text" [value]="password">
      </div>

    </div>

    </div>  
  </div>
</div>





